<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dataload</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

		<!--  nav bar start -->
	<div th:insert="~{fragments/navbar :: selectedPage(page='manage')}" id="this-will-be-retained">This content will be gone</div>
	<!--  nav bar end -->

	<br />
	<br />

	<div class="container">

		<!--  container_messages start -->
		<div th:insert="~{fragments/messageArea}" id="this-will-be-retained">This content will be gone</div>
		<!--  container_messages end -->

		<div class="alert alert-danger d-flex align-items-center" role="alert"
			th:if="${errorMessage}">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
				aria-label="Danger:">
		    <use xlink:href="#exclamation-triangle-fill" /></svg>
			<h2 th:text="${errorMessage}"></h2>
		</div>
		<div class="row">
			<div class="card text-center">
				<div class="card-header">
					<h2 class="text-center">Select a Vendor Type</h2>
				</div>
				<div class="card-body">
					<!--  main body  -->
					<div th:if="${message_vendorArea}">
						<h2 th:text="${message_vendorArea}"></h2>
					</div>

					<div class="row align-items-start">
						<div class="col"> <a class="btn btn-lg btn-danger" th:href="@{/manage}" role="button">Cancel</a> </div>
						<div class="col">
							<table class="table table-hover table-striped">
								<thead class="thead-light">
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Vendor Type</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="vendortype : ${vendorTypes}">
										<th:block th:if="${(vtId != null && vendortype.vendortypeId == vtId )}">
											<td>[[${vendortype.vendortypeId}]]</td>
											<td><a th:href="@{/manage/selectVendor(vtId=${vendortype.vendortypeId},filename=${filename},action=${action})}">[[${vendortype.vendortypeName}]]</a></td>
										</th:block>
										<th:block th:if="${(vtId == null)}">
											<td>[[${vendortype.vendortypeId}]]</td>
											<td><a th:href="@{/manage/selectVendor(vtId=${vendortype.vendortypeId},filename=${filename},action=${action})}">[[${vendortype.vendortypeName}]]</a></td>
										</th:block> 
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col"></div>
					</div>



				</div>
				<!-- .card-body -->
			</div>
			<!--  .card -->

			<!--  .card -->
			<div class="card">
				<div class="card-header">
					<h2 class="text-center">Vendor names</h2>
				</div>
				<div class="card-body">
					<!--  if action=dataload -->
					
						<div th:if="${vendors.size() &gt; 0}">
							<table class="table table-hover table-striped">
								<thead class="thead-light">
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Firstname</th>
										<th scope="col">Lastname or Company</th>
										<th scope="col">City</th>
										<th scope="col">Email</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="vendor : ${vendors}">
										<td>[[${vendor.id}]]</td>
										<td>[[${vendor.firstname}]]</td>
										<td>[[${vendor.lastname}]]</td>
										<td>[[${vendor.city}]]</td>
										<td>[[${vendor.email}]]</td>
										<td>
											<div th:if="${action != null && #strings.isEmpty(action) == false}">
												<form method="post" th:action="@{/manage/dataloadAction}" th:object="${dataloadBean}" > 
													<input type="hidden" id="filename" name="filename"  th:value="${filename}" />
													<input type="hidden" id="vendortypeId" name="vendortypeId" th:value="${vtId}"/>
													<input type="hidden" id="vendorId" name="vendorId" th:value="${vendor.id}"/>
													<button type="submit" class="btn btn-primary mb-3">Load and overwrite</button>
												</form>
											</div>
											<div th:if="${action != null && #strings.isEmpty(action) == true}">
													<a th:href="@{/manage/editVendor(action=edit,vid=${vendor.id},vtid=${vtId})}" class="btn btn-primary mb-3">Edit</a>
											</div>
											
									</tr>
								</tbody>
							</table>
	
						</div>
					

					<div th:unless="${vendors.size() &gt; 0}">
						<span>No Vendors found!</span>
						<a th:href="@{/manage/addVendor}">Add a vendor here...</a>
					</div>




				</div>
				<!-- .card-body -->
			</div>
			<!--  .card -->
		</div>
		<!-- .row -->

	</div>
	<!--  .container -->
</body>
</html>
