@media print {
  @page {
	margin: 0.5cm;
	}
	
	body {
		font-size: 8pt;
		line-height: 1.3;
		
	}
	h2 {
		font-size: 12pt;
	}
	.container {
		max-width: 960px;
	}
	card{
		
	}
}

@media screen{

.table-striped>tbody>tr:nth-of-type(odd) {
	  background-color: #f9f9f9;
	}
	
	.attention {
	  animation: 3s attention;
	}
	
	@keyframes attention {
	  0% {
	    background-color: #bcf516;
	  }
	}
}