
<div th:if="${(param.errorMessage != null)}">
    <div th:with="errorMessage=${param.errorMessage}">
    <div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${errorMessage}">
	<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
		aria-label="Danger:">
		    <use xlink:href="#exclamation-triangle-fill" /></svg>
	<h2 th:utext="${errorMessage}"></h2>
</div>
    
</div>


<div class="alert alert-success d-flex align-items-center" role="alert"
	th:if="${message}">
	<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
		aria-label="Success:">
		<use xlink:href="#check-circle-fill" /></svg>
	<div>
		<h2 th:text="${message}"></h2>
	</div>
</div>

<div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${errorMessage}">
	<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
		aria-label="Danger:">
		    <use xlink:href="#exclamation-triangle-fill" /></svg>
	<h2 th:utext="${errorMessage}"></h2>
</div>


<!--  div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    An example success alert with an icon
  </div>
</div  -->