<tbody th:fragment="selectedPage (page)">
	<tr th:each="orderItem : ${order.orderItems}">
		<th scope="row">[[${orderItem.id}]]</th>
		<td>[[${orderItem.catentry_id}]]</td>
		<td>[[${orderItem.name}]]</td>
		<td>[[${orderItem.type}]]</td>
		<td>[[${#numbers.formatCurrency(orderItem.unitPrice)}]]</td>
		<td>[[${orderItem.discount_id}]]</td>
		<td class="d-print-none" th:if="${page != 'endtransaction'}"><a
			th:href="@{/register/newtransaction(action=remove,orderItemId=${orderItem.id},orderId=${order.id})}">Remove</a>
		</td>

	</tr>
	<tr class="table-light">
		<th colspan="4" scope="row">Subtotal</td>
		<td colspan="2">[[${#numbers.formatCurrency(order.subTotal)}]]</td>
	</tr>
	<th:block th:if="${order?.taxInstructions?.size() &gt; 0}">
		<tr class="table-light" th:each="taxInstruction : ${order.taxInstructions}">
			<th colspan="4" scope="row">Tax ([[${taxInstruction.name}]])
			
			</td>
			<td colspan="2">[[${#numbers.formatCurrency(taxInstruction.total)}]]</td>
		</tr>
	</th:block>
	<tr class="table-secondary">
		<th colspan="4" scope="row">Total
		</td>
		<td colspan="2">[[${#numbers.formatCurrency(order.total)}]]</td>
	</tr>
</tbody>