<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vendor Type Add</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

	<!--  nav bar start -->
	<div th:insert="~{fragments/navbar :: selectedPage(page='register')}" id="this-will-be-retained">This content will be gone</div>
	<!--  nav bar end -->

	<br />
	<br />

	<div class="container">

		<!--  container_messages start -->
		<div th:insert="~{fragments/messageArea}" id="this-will-be-retained">This content will be gone</div>
		<!--  container_messages end -->

			<div class="card">
				<div class="card-header ">
					<h2 class="text-center">Lookup an Item</h2>
				</div>
  				<div class="card-body">
  			
  						<form method="GET" enctype="multipart/form-data" th:action="@{/register/lookup}">
					  
						<div class="input-group input-group-lg">
								<span class="input-group-text" id="inputGroup-sizing-lg">Barcode</span>
								<input type="text" class="form-control" name="barcode"
									aria-label="Sizing example input"
									aria-describedby="inputGroup-sizing-lg">
								<button type="submit" class="btn btn-outline-primary"
									id="inputGroupFileAddon04">Lookup</button>
							</div>
						</form>
			
			<div th:if="${itemInfo != null}" class="container pt-5">
				<div class="row fs-2">
			    	<div class="col">Barcode: <b>[[${itemInfo.id}]]</b></div>
			    	<div class="col">Price: <b>[[${#strings.replace(#numbers.formatCurrency(itemInfo.price), '.00', '')}]]</b></div>
				</div>
				<div class="row pt-3">
			    	<div class="col">Name: <b> [[${itemInfo.name}]]</b></div>
			    	<div class="col">New: <b>[[${itemInfo.isNew}]]</b></div>
				</div>
				<div class="row pt-3">
			    	<div class="col">Size: <b>[[${itemInfo.size}]]</b></div>
			    	<div class="col">Type: <b>[[${itemInfo.type.catentryTypeName}]]</b></div>
				</div>
				<div class="row pt-3">
			    	<div class="col">Quantity: <b>[[${itemInfo.inventory.quantity}]]</b></div>
			    	<div class="col">Status: <b>[[${itemInfo.inventory.status}]]</b></div>
				</div>
				<div class="row pt-3">	  
					<div class="col">Description: <b>[[${itemInfo.description}]]</b></div>
				</div>
				  
			</div>
				
		</div> <!-- .card-body -->
  	</div> <!-- .card -->

		
	</div><!--  .container -->
</body>
</html>
